services:
  postgres:
    image: postgres:17
    container_name: auth-service-db
    environment:
      POSTGRES_DB: auth_service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  auth-service:
    build: .
    ports:
      - "8082:8082"
    depends_on:
      - postgres

volumes:
  postgres_data: