management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

server:
  port: 8082

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    eureka-service-url-poll-interval-seconds: 3
    eureka-server-connect-timeout-seconds: 5
  instance:
    lease-expiration-duration-in-seconds: 30

spring:
  application:
    name: auth-service
  profiles:
    active: local
  
  liquibase: 
    change-log: classpath:db/changelog/db.master-changelog.xml
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  access-exp: 900000
  refresh-exp: 604800000